/* CSS Document */
table, td, th {
	font-size:12px;
}
td {
	vertical-align:top;
}
.botbord {
	border-bottom:2px solid #0CA0E2;
	line-height:18px;
}
.nobord {
	border:0px !important;
}
#content input, #content select, #content textarea {
	border:1px #CCCCCC solid;
}
#content #submit {
	text-align:center;
	border:0px;
	background:#0CA0E2;
	color:#FFFFFF;
	font-weight:bold;
}
#content ul {
	list-style-type:square;
	list-style-position:outside;
	margin:0px 0px 20px 5px;
	padding:0px 0px 0px 20px;
	font-size:12px;
	line-height:16px;
}

#content ul li ul { margin-bottom:10px; }
#content ol {
	list-style-position:outside;
	margin:0px 0px 20px 5px;
	padding:0px 0px 0px 20px;
	font-size:12px;
	line-height:16px;
}

#content {
	margin:23px 22px 50px 22px;
	min-height:600px;
	font-size:12px;
	line-height:20px;
}
#content p {
	font-size:12px;
	line-height:20px;
	margin:0px 0px 25px 0px;
}
#content h1 {
	font-size:14px;
	margin:0px 0px 5px 0px;
}
#content h2 {
	font-size:12px;
	margin:0px 0px 5px 0px;
}
#header {
	height:20px;
	margin:0px 0px 12px 0px;
	color:#FF6600;
	font-weight:bold;
	font-size:16px;
	text-align:left;
	border-bottom:2px solid #CCCCCC;
}
#space {
	height:18px;
}
#right-col {
	width:191px;
	margin:0px 0px 30px 20px;
	padding:0px 0px 0px 0px;
	float:right;
}
#right-nav {
	margin:-2px 0px 30px 0px;
}
#right-nav a {
	display:block;
	width:189px;
	height:23px;
	margin:2px 0px 2px 0px !important;
	padding:0px 0px 0px 0px;
	border:1px solid #F26803;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	line-height:23px;
	text-decoration:none;
}
#right-nav a:link, #right-nav a:active, #right-nav a:visited {
	background:#F26803;
	color:#FFFFFF;
	margin:2px 0px 2px 0px !important;
}
#right-nav a:hover {
	background:#FFFFFF;
	color:#346BB4;
	margin:2px 0px 2px 0px !important;
}
#right-nav a.on {
	background:#FFFFFF !important;
	color:#346BB4 !important;
}
#spec-right-nav {
	margin:-2px 0px 30px 0px;
}
#spec-right-nav a {
	display:block;
	width:189px;
	height:23px;
	margin:2px 0px 2px 0px !important;
	padding:0px 0px 0px 0px;
	border:1px solid #346BB4;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	line-height:23px;
	text-decoration:none;
}
#spec-right-nav a:link, #spec-right-nav a:active, #spec-right-nav a:visited {
	background:#346BB4;
	color:#FFFFFF;
	margin:2px 0px 2px 0px !important;
}
#spec-right-nav a:hover {
	background:#FFFFFF;
	color:#F26803;
	margin:2px 0px 2px 0px !important;
}
#page-right-nav {
	margin:-2px 0px 30px 0px;
}
#page-right-nav a {
	display:block;
	width:189px;
	height:23px;
	margin:2px 0px 2px 0px !important;
	padding:0px 0px 0px 0px;
	border:1px solid #0CA0E2;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	line-height:23px;
	text-decoration:none;
}
#page-right-nav a:link, #page-right-nav a:active, #page-right-nav a:visited {
	background:#0CA0E2;
	color:#FFFFFF;
	margin:2px 0px 2px 0px !important;
}
#page-right-nav a:hover {
	background:#FFFFFF;
	color:#F26803;
	margin:2px 0px 2px 0px !important;
}
#right-col p {
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:11px;
	line-height:12px;
}
#camp-right-row2 p {
	margin:10px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:11px;
	line-height:12px;
}
#camp-logo-wrapper {
	margin-top:15px;
	width:205px;
	float:right;
	display:block;
	text-align:center;
}
#camp-right-col-wrapper {
	width:205px;
	float:right;
	margin-right:5px;
}
.camp-schedule-head {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#8FD9FE;
}
.camp-schedule-sub-head {
	font:Arial, Helvetica, sans-serif 12px;
	font-weight:bold;
	color:#FFFFFF;
}
.camp-schedule-sub-content {
	color:#ffcc15;
}
#left-col {
	width:308px;
	float:left;
}
#special-nav {
	width:308px;
	margin:0px 0px 15px 0px;
	padding:0px 0px 15px 0px;
	font-weight:bold;
	line-height:20px;
	display:block;
	border-bottom:1px solid #CCCCCC;
}
#special-nav #sn-left {
	width:151px;
	float:left;
}
#special-nav #sn-right {
	width:151px;
	float:right;
}
#special-nav h3 {
	margin:0px 0px 10px 0px;
	color:#FF6600;
	font-weight:bold;
	font-size:12px;
	line-height:16px;
	text-align:left;
	border-bottom:2px solid #CCCCCC;
}
#special-nav h3 a {
	color:#FF6600 !important;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
}

#special-nav #sn-left h3, #special-nav #sn-right h3 {
	height:35px;
}
#special-nav a {
	color:#346BB4;
}
#adobe {
	margin:10px 0px 0px 0px !important;
}

#header img {
	float:right;
	margin-top:-12px;
	z-index:99;
	position:relative;
}

#right-float {
	float:right;
	margin:0px 0px 20px 20px;
}
.nobold {
	font-weight:normal !important;
}
#center {
	text-align:center !important;
	vertical-align:middle !important;
}
p.q {
	font-weight:bold;
	margin:10px 0px 0px 0px !important;
}
p.a {
	font-weight:normal;
	margin:0px 0px 10px 10px !important;
}
#top {
	text-align:right;
	font-size:10px !important;
	border-top:1px dotted #EEEEEE;
	margin:0px 0px 0px 0px !important;
	padding:0px 0px 0px 0px !important;
}
#top2 {
	text-align:right;
	font-size:10px !important;
	margin:0px 0px 0px 0px !important;
	padding:0px 0px 0px 0px !important;
}